/* .date_time_container {
  position: relative;
  margin-top: 20px;
}

.date_time_display {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ececf2;
  padding: 10px;
  border-radius: 6px;
}

.date_display {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

.calendar_icon {
  font-size: 1.5rem;
  color: #878ba9;
  cursor: pointer;
  transition: 0.3s;
}

.calendar_icon:hover {
  color: #1b48da;
}

.datepicker {
  position: absolute;
  top: 60px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ececf2;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
